.feedback {
	padding-bottom: 0;
	overflow: hidden;
	input,
	textarea {
		@include font-size(18, 16);
		display: block;
		width: 100%;
		max-width: 280px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.25);
		-moz-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.25);
		box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.25);
		padding: 15px;
		margin-bottom: 30px;
		&:focus::placeholder {
			opacity: 0;
			visibility: hidden;
		}
		&::placeholder {
			transition: all 0.3s ease 0s;
			color: #cccccc;
		}
	}
	input {
		min-height: 50px;
	}
	textarea {
		min-height: 130px;
		resize: none;
	}
	h2 {
		margin: 0px 0px 50px 0px;
		text-align: left;
	}
	&__wrapper {
		position: relative;
		// text-align: center;
	}
	&__slider {
		overflow: visible;
	}
	&__slider-slide {
		// width: 600px !important;
		max-width: 600px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	

	&__info {
		display: flex;
		align-items: center;
		position: relative;
		justify-content: space-between;
	}
	&__img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		margin-right: 20px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&__info-left {
		display: flex;
		align-items: center;
		padding: 30px 0 30px 20px;
		position: relative;
	}
	&__info-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-left: 1px solid #f0f0f5;
		position: relative;
		color: $accent;
		font-weight: 500;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		padding: 30px 20px 30px 20px;
		&:hover {
			color: $hover;
		}
		&:hover .icon_home {
			fill: $hover;
		}
	}
	&__text {
		p {
			margin-bottom: 5px;
		}
		span {
			color: $grey;
			@include font-size(14, 12);
			position: relative;
			span {
				cursor: pointer;
				position: absolute;
				display: block;
				top: -5px;
				right: -25px;
				width: 16px;
				height: 16px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				background-color: $accent;
				font-size: 12px;
				color: $white;
			}
		}
	}
	&__icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		.icon_question {
			width: 24px;
			height: 24px;
			margin-bottom: 5px;
		}
	}
	&__btn {
		margin: 60px 0 10px 0;
	}
	&__btn-right,
	&__btn-left {
		position: absolute;
		top: 1%;
		transition: background 0.3s ease 0s, transform 0.2s ease-in-out;
		&:hover {
			background: $accent;
		}
		&:active {
			transform: scale(1.07);
		}
	}
	&__btn-right {
		right: 0;
	}
	&__btn-left {
		right: 5%;
	}
	&__pagination {
		display: none;
		bottom: -11% !important;
	}
}
.swiper-next,
.swiper-prev {
	// left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border: 1px solid $accent;
	border-radius: 2px;
	z-index: 2;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease 0s;
}
.swiper-prev {
	right: 5%;
	svg {
		transform: scale(-1, 1);
	}
}
.swiper-pagination-bullet-active {
	background-color: $accent !important;
}
@media (max-width: $md1 + px) {
	.feedback {
		&__btn-left {
			right: 6%;
		}
	}
}
@media (max-width: $md2 + px) {
	.feedback {
		&__btn-left {
			right: 8%;
		}
	}
}
@media (max-width: $md3 + px) {
	.feedback {
		h2 {
			text-align: center;
		}
		&__pagination {
			display: block;
		}
	}
	.swiper-prev,
	.swiper-next {
		display: none;
	}
	.swiper-slide {
		max-width: 500px !important;
	}
}
@media (max-width: $md4 + px) {
	.feedback {
		padding-bottom: 40px;
		h2 {
			margin: 0px 0px 40px 0px;
		}
		&__btn {
			margin-top: 40px;
		}
		&__pagination {
			bottom: -30px !important;
		}
		&__info {
			flex-direction: column;
		}
		&__info-left {
			width: 100%;
			padding: 10px 20px;
		}

		&__info-right {
			width: 100%;
			padding: 10px 0;
			border-left: none;
			border-top: 1px solid #f0f0f5;
		}
	}
}
