section.feedback 
	.feedback__wrapper.container 
		h2._h2(data-aos='fade-up') Клиенты о нас
		.feedback__btn-right
			button.swiper-next(data-aos='fade-up', data-aos-delay='50')
				+icon('next')
		.feedback__btn-left
			button.swiper-prev(data-aos='fade-up', data-aos-delay='100')
				+icon('next')
		.feedback__slider.swiper-container
			.feedback__slider-wrapper.swiper-wrapper
				.feedback__slider-slide.swiper-slide(data-aos='fade-up', data-aos-delay='')
					.feedback__video
						iframe(class="feedback-iframe" src="https://www.youtube.com/embed/SUVFRgONeDg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" loading="lazy")
					.feedback__info 
						.feedback__img 
							img(src="img/content/feedback/clients/clients-2.png", loading="lazy", alt="Клиент")
						.feedback__text 
							p Василий, г. Березовский
							span Монтаж теплых полов
							.feedback__icon._tooltip-feedback
								+icon('question')
				.feedback__slider-slide.swiper-slide(data-aos='fade-up', data-aos-delay='50')
					.feedback__video
						iframe(class="feedback-iframe" src="https://www.youtube.com/embed/qQeSaAh14Jk" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" loading="lazy")
					.feedback__info 
						.feedback__img 
							img(src="img/content/feedback/clients/clients-3.png", loading="lazy", alt="Клиент")
						.feedback__text 
							p Сергей, д. Гусева
							span Монтаж системы отопления
							a.feedback__icon(href="#examples-sergey")
								+icon('question')
				.feedback__slider-slide.swiper-slide(data-aos='fade-up', data-aos-delay='100')
					.feedback__video
						iframe(class="feedback-iframe" src="https://www.youtube.com/embed/tNIgZK_QTnM" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" loading="lazy")
					.feedback__info 
						.feedback__img 
							img(src="img/content/feedback/clients/clients.png", loading="lazy", alt="Клиент")
						.feedback__text 
							p Евгений, с. Косулино
							span Монтаж системы отопления
							.feedback__icon._tooltip-feedback-two
								+icon('question')
			.feedback__pagination.swiper-pagination
		.feedback__btn-wrapper._btn-wrapper(data-aos='fade-up')
			a.feedback__btn._btn(role="button") Оставить отзыв