section.feedback 
	.feedback__wrapper.container 
		h2._h2 Клиенты о нас
		button.swiper-next
			+icon('next')
		button.swiper-prev
			+icon('next')
		.feedback__slider.swiper-container
			.swiper-wrapper
				.swiper-slide
					.feedback__video
						iframe(class="feedback-iframe" src="https://www.youtube.com/embed/SUVFRgONeDg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
					.feedback__info 
						.feedback__img 
							img(src="img/content/feedback/clients/clients-2.png", alt="Клиент")
						.feedback__text 
							p Василий, г. Березовский
							span Монтаж теплых полов
							.feedback__icon._tooltip-feedback
								+icon('question')
				.swiper-slide
					.feedback__video
						iframe(class="feedback-iframe" src="https://www.youtube.com/embed/qQeSaAh14Jk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
					.feedback__info 
						.feedback__img 
							img(src="img/content/feedback/clients/clients-3.png", alt="Клиент")
						.feedback__text 
							p Сергей, д. Гусева
							span Монтаж системы отопления
							.feedback__icon
								+icon('question')
				.swiper-slide
					.feedback__video
						iframe(class="feedback-iframe" src="https://www.youtube.com/embed/tNIgZK_QTnM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
					.feedback__info 
						.feedback__img 
							img(src="img/content/feedback/clients/clients.png", alt="Клиент")
						.feedback__text 
							p Евгений, с. Косулино
							span Монтаж системы отопления
							.feedback__icon
								+icon('question')
			.swiper-pagination
	include ../modals/tippy/feedback-tippy/feedback-tippy