#feedback-modal.modal
	form.modal__content
		.modal__title Оставьте отзыв о проделанной нами работе
		.modal__close
			+icon('cross')
		input.modal__input(type="text" placeholder="Ваш имя" required)
		input.modal__input(type="tel" placeholder="Ваш телефон" required)
		textarea.modal__message(placeholder="Ваш отзыв" required)
		button.modal__submit._btn(type="submit") ОТПРАВИТЬ
		.modal__personal Нажимая кнопку “Отправить”, вы принимаете 
			a.modal__button-js(data-modal="privacy-modal") условия обработки персональных данных
	.modal__overflow