section.about
	.about__wrapper.container
		.about__left
			h2._h2 О нашей команде
			.about__subtitle Заказывая монтаж в Тёплом доме Инвета, вы обеспечиваете себе уверенность в том, что отопление в доме будет работать исправно и радовать вас долгие годы. В компании работают только проверенные и квалифицированные сотрудники.
			ul.about__list 
				li.about__list-item Стаж работы 9 лет
				li.about__list-item Услуги для частных домов, дач, загородных коттеджей и таунхаусов
				li.about__list-item Гарантия на монтаж, срок которой продлевается при условии вовремя проведенного сервисного обслуживания
				li.about__list-item Оплата работ только после подписания акта выполненных работ
		.about__right
			.about__image
				picture 
					source(srcset="img/content/about/about-director.webp" type="image/webp")
					img(src="img/content/about/about-director.jpg", alt="Директор компании")
			.about__image-text
				p Иван Трясцин
				p Директор компании