.icon_whatsapp {
	width: 26px;
	height: 26px;
	stroke: $accent;
	fill: none;
	margin-right: 5px;
	transition: all 0.3s ease 0s;
	&:hover {
		stroke: $hover;
	}
}
.icon_phone {
	width: 20px;
	height: 20px;
	fill: $accent;
	margin-right: 5px;
	transition: all 0.3s ease 0s;
	&:hover {
		fill: $hover;
	}
}
.icon_cross {
	width: 20px;
	height: 20px;
	stroke: $accent;
	transition: all 0.3s ease 0s;
	&:hover {
		stroke: $hover;
	}
}
.icon_next {
	width: 18px;
	height: 18px;
	stroke: $black;
	fill: none;
}
.icon_question {
	width: 20px;
	height: 20px;
	fill: $accent;
	cursor: pointer;
	transition: fill 0.3s ease 0s, transform 0.2s ease 0s;
	&:hover {
		fill: $hover;
	}
	&:active {
		transform: scale(1.1);
	}
}
.icon_ruble {
	width: 13px;
	height: 13px;
	fill: $accent;
}
