@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";
@import "utils/animations";
@import "utils/nullstyle";
@import "icons";

@import "libs/tippy";
// @import "node_modules/aos/src/sass/aos";
// @import "libs/animate.min";

body {
	overflow-x: hidden;
	width: 100%;
	color: $black;
	font-family: $fontFamilyMain;
	@include font-size(16, 14);
	@include line-height(20, 18);
}
a {
	cursor: pointer;
}
section {
	padding: 60px 0;
}
input,
textarea {
	@include font-size(18, 16);
	display: block;
	width: 100%;
	max-width: 280px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.25);
	padding: 15px;
	margin-bottom: 30px;
	&:focus::placeholder {
		opacity: 0;
		visibility: hidden;
	}
	&::placeholder {
		transition: all 0.3s ease 0s;
		color: #cccccc;
	}
}
input {
	min-height: 50px;
}
textarea {
	min-height: 130px;
	resize: none;
}
.container {
	max-width: $maxWidthContainer + px;
	width: 100%;
	padding: $paddingContainer;
	margin: 0 auto;
}
._h2 {
	@include font-size(36, 24);
	@include line-height(38, 26);
	text-align: center;
	font-weight: 700;
	margin: 0 auto 50px auto;
	max-width: 600px;
}
._h3 {
	@include font-size(22, 20);
	@include line-height(26, 24);
	font-weight: 700;
}
._btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	max-width: 280px;
	width: 100%;
	min-height: 70px;
	color: $white;
	font-weight: 700;
	@include font-size(18, 14);
	cursor: pointer;
	letter-spacing: 2px;
	background: $accent;
	border-radius: 2px;
	text-transform: uppercase;
	transition: background-color 0.3s ease 0s, transform 0.1s ease-in-out 0s;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	&:hover {
		background-color: $hover;
	}
	&:active {
		transform: scale(1.03);
	}
}
._btn-wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 280px;
	text-align: center;
}
._btn-transparent {
	color: $accent;
	background-color: transparent;
	border: 2px solid $accent;
	&:hover {
		background-color: $hover;
		color: $white;
		border: 2px solid $hover;
	}
	&:active {
		transform: scale(1.05);
	}
}
._ibg {
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	position: relative !important;
}


@media (max-width: $md1+px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: $md2+px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: $md3+px) {
	.container {
		max-width: 540px;
	}
}
@media (max-width: $md4+px) {
	section {
		padding: 40px 0;
	}
	._btn {
		min-height: 60px;
	}
	._h2 {
		margin: 0 auto 40px auto;
	}
}

// Блоки

// @import "../blocks/test";
@import "../blocks/header/header";
@import "../blocks/main/main";
@import "../blocks/advantages/advantages";
@import "../blocks/services/services";
@import "../blocks/cost/cost";
@import "../blocks/feedback/feedback";
@import "../blocks/examples/examples";
@import "../blocks/questions/questions";
@import "../blocks/contacts/contacts";
@import "../blocks/footer/footer";

// Модалки

@import "../blocks/modals/callback-modal/callback-modal";
@import "../blocks/modals/pricelist-modal/pricelist-modal";
@import "../blocks/modals/feedback-modal/feedback-modal";
@import "../blocks/modals/privacy-modal/privacy-modal";

// Tippy

@import "../blocks/tippy/feedback-tippy/feedback-tippy";
@import "../blocks/tippy/feedback-tippy/feedback-tippy-two";
@import "../blocks/tippy/services-tippy/services-tippy";
