form.callback__modal.modal(action="")
	.callback__modal-content
		.callback__modal-title Оставьте свой номер телефона и мы перезвоним вам в течение 7 минут
		.callback__modal-close
			+icon('cross')
		input.callback__input(type="tel" placeholder="Ваш телефон")
		a.callback__modal-btn._btn(href="##") ОТПРАВИТЬ
		.callback__modal-personal Нажимая кнопку “Отправить”, вы принимаете 
			span 
				a.privacy__btn(roll="button") условия обработки персональных данных
