.callback {
	&__modal {
		display: none;
		justify-content: center;
		position: fixed;
		z-index: 99999;
		padding-top: 30px;
		left: 0;
		top: 0;
		width: 100vw;
		overflow-x: hidden;
		height: 100%;
	}
	&__modal-content {
		position: relative;
		background-color: $white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		margin: 20px;
		padding: 60px;
		max-width: 560px;
		max-height: 420px;
		overflow: auto;
		border-radius: 2px;
		transition: 0.3s ease;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	&__modal-title {
		font-weight: 700;
		@include font-size(24, 18);
		@include line-height(32, 24);
		color: $black-light;
		margin-bottom: 30px;
	}
	&__modal-close {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 20px;
		right: 20px;
		cursor: pointer;
		transform: rotate(0);
		&:active {
			animation: animate-rotate 0.5s;
			transform: rotate(180deg);
		}
	}
	&__modal-personal {
		font-size: 12px;
		line-height: 14px;
		color: #8f8f8f;
		span {
			font-weight: 700;
			a {
				color: $blue;
				text-decoration: underline;
				transition: all 0.3s ease 0s;
				&:hover {
					color: $blue-light;
				}
			}
		}
	}
	&__modal-btn {
		margin-bottom: 12px;
	}
}
@media (max-width: $md4+px) {
	.callback {
		&__modal-content {
			padding: 50px 30px;
		}
	}
}
