#callback-modal.callback__modal.modal(action="")
	form.callback__modal-content.modal__content
		.callback__modal-title Оставьте свой номер телефона и мы перезвоним вам в течение 7 минут
		.callback__modal-close.modal__close
			+icon('cross')
		input.callback__input(type="tel" placeholder="Ваш телефон")
		button.callback__modal-btn._btn(type="submit") ОТПРАВИТЬ
		.callback__modal-personal Нажимая кнопку “Отправить”, вы принимаете 
			span 
				a.privacy__btn.modal-button-js(roll="button" data-modal="privacy-modal") условия обработки персональных данных
	.modal__overflow