form.feedback__modal(action="")
	.feedback__modal-content
		.feedback__modal-title Оставьте свой отзыв о проделанной нами работе
		.feedback__modal-close
			+icon('cross')
		input.feedback__input(type="text" placeholder="Ваш имя")
		input.feedback__input(type="tel" placeholder="Ваш телефон")
		textarea(placeholder="Ваш отзыв") 
		a.feedback__modal-btn._btn(href="##") ОТПРАВИТЬ
		.feedback__modal-personal Нажимая кнопку “Отправить”, вы принимаете 
			span 
				a.privacy__btn(roll="button") условия обработки персональных данных