
.animateTop {
	animation: animateTop 0.3s ease;
}
.animateUp {
	animation: animateUp 0.3s ease;
}
.animateFadeIn {
	animation: animateFadeIn 0.3s ease;
}
.animateFadeOut {
	animation: animateFadeOut 0.3s ease;
}

@keyframes animateFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes animateFadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes animateTop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animateUp {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: -300px;
		opacity: 0;
	}
}
