$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1150;
$paddingContainer: 0 10px;
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 480;

$accent: #ff8500;
$hover: #ff9524;
$blue: #00b1ff;
$blue-light: #61d0ff;
$grey: #989898;
$grey-light: #fafafa;
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$black-light: #404040;
$red: rgba(235, 87, 87, 1);

$fontFamilyMain: "Roboto";
