section.main
	.main__wrapper.container
		.main__content
			h1 Монтаж водяного тёплого пола, отопления и водоснабжения в частных домах Екатеринбурга и области
			.main__subtitle Ответьте на 5 вопросов и получите расчет и персональную скидку 20%
			a.main__btn._btn(href="") Пройти тест