footer.footer
	.footer__wrapper.container
		.footer__left © 2019 Компания "Инвета"
		.footer__right
			+icon('logo-footer')
			.footer__text Разработка сайта – 
				span 
					a(href="https://roiburo.ru/")	ROIburo

