footer.footer
	.footer__wrapper.container
		.footer__left © 2019 Компания "Инвета"
		a.footer__logo(href="https://roiburo.ru/")
			+icon('logo-footer')
			//- .footer__text Разработка сайта – 
			//- 	span 
			//- 		a(href="https://roiburo.ru/") ROIburo

