section.cost
	.cost__wrapper.container
		h2._h2 Стоимость теплого пола под ключ с учетом материалов
		.cost__tabs
			button.cost__tabs-item._active(data-tab="1") 100 кв/м 
			button.cost__tabs-item(data-tab="2") 200 кв/м
			button.cost__tabs-item(data-tab="3") 300 кв/м
		//- .cost__content-wrapper
		.cost__content._active(data-tab="1")
			.cost__item-wrapper
				.cost__item
					.cost__item-top
						.cost__title Стандарт
						.cost__price от 1060 ₽/м
							sup 2
						.cost__subtitle в стоимость включено:
						ul.cost__list
							li.cost__list-item Монтаж тёплого пола
								span от 250₽ за 1м
									sup 2
							li.cost__list-item Основание тёплого пола
								span Утеплитель, крепёж, расходные материалы 300₽ за 1м2
							li.cost__list-item Труба тёплого пола STOUT (Испания)
								span 325₽ за 1м
									sup 2 
									|при шаге укладке 200мм
								span 425₽ за 1м
									sup 2 
									|при шаге укладки 150мм
							li.cost__list-item Коллекторная группа со смесительным узлом и циркуляционным насосом
								span Стоимость коллекторной группы от 25 000₽
					a.pricelist__btn._btn.cost__btn(role="button") Получить прайс-лист
			.cost__item-wrapper._item-comfort
				.cost__item
					.cost__item-top
						.cost__title Комфорт
						.cost__price от 1220 ₽/м
							sup 2
						.cost__subtitle в стоимость включено:
						ul.cost__list
							li.cost__list-item Монтаж тёплого пола
								span от 250₽ за 1м
									sup 2
							li.cost__list-item Основание тёплого пола
								span Утеплитель, крепёж, расходные материалы 300₽ за 1м2
							li.cost__list-item Труба тёплого пола REHAU
								span 565₽ за 1м
									sup 2 
									|при шаге укладке 200мм
								span 785₽ за 1м
									sup 2 
									|при шаге укладки 150мм
							li.cost__list-item Коллекторная группа со смесительным узлом и циркуляционным насосом
								span Стоимость коллекторной группы от 25 000₽
					a.pricelist__btn._btn.cost__btn(role="button") Получить прайс-лист
			.cost__item-wrapper
				.cost__item
					.cost__item-top
						.cost__title Премиум
						.cost__price от 1060 ₽/м
							sup 2
						.cost__subtitle в стоимость включено:
						ul.cost__list
							li.cost__list-item Пакет Комфорт
							li.cost__list-item В пакет премиум включена автоматика тёплого пола с возможностью регулировки температуры в каждой комнате <br>(от 40 000₽)
					a.pricelist__btn._btn.cost__btn(role="button") Получить прайс-лист
		.cost__content(data-tab="2")
			.cost__item-wrapper
				.cost__item
					.cost__item-top
						.cost__title Стандарт
						.cost__price от 990 ₽/м
							sup 2
						.cost__subtitle в стоимость включено:
						ul.cost__list
							li.cost__list-item Монтаж тёплого пола
								span от 250₽ за 1м
									sup 2
							li.cost__list-item Основание тёплого пола
								span Утеплитель, крепёж, расходные материалы 300₽ за 1м2
							li.cost__list-item Труба тёплого пола STOUT (Испания)
								span 325₽ за 1м
									sup 2 
									|при шаге укладке 200мм
								span 425₽ за 1м
									sup 2 
									|при шаге укладки 150мм
							li.cost__list-item Коллекторная группа со смесительным узлом и циркуляционным насосом
								span Стоимость коллекторной группы от 35 000₽
					a.pricelist__btn._btn.cost__btn(role="button") Получить прайс-лист
			.cost__item-wrapper._item-comfort
				.cost__item
					.cost__item-top
						.cost__title Комфорт
						.cost__price от 1150 ₽/м
							sup 2
						.cost__subtitle в стоимость включено:
						ul.cost__list
							li.cost__list-item Монтаж тёплого пола
								span от 250₽ за 1м
									sup 2
							li.cost__list-item Основание тёплого пола
								span Утеплитель, крепёж, расходные материалы 300₽ за 1м2
							li.cost__list-item Труба тёплого пола REHAU
								span 565₽ за 1м
									sup 2 
									|при шаге укладке 200мм
								span 785₽ за 1м
									sup 2 
									|при шаге укладки 150мм
							li.cost__list-item Коллекторная группа со смесительным узлом и циркуляционным насосом
								span Стоимость коллекторной группы от 35 000₽
					a.pricelist__btn._btn.cost__btn(role="button") Получить прайс-лист
			.cost__item-wrapper
				.cost__item
					.cost__item-top
						.cost__title Премиум
						.cost__price от 1350 ₽/м
							sup 2
						.cost__subtitle в стоимость включено:
						ul.cost__list
							li.cost__list-item Пакет Комфорт
							li.cost__list-item В пакет премиум включена автоматика тёплого пола с возможностью регулировки температуры в каждой комнате <br>(от 40 000₽)
					a.pricelist__btn._btn.cost__btn(role="button") Получить прайс-лист
		.cost__content(data-tab="3")
			.cost__item-wrapper
				.cost__item
					.cost__item-top
						.cost__title Стандарт
						.cost__price от 960 ₽/м
							sup 2
						.cost__subtitle в стоимость включено:
						ul.cost__list
							li.cost__list-item Монтаж тёплого пола
								span от 250₽ за 1м
									sup 2
							li.cost__list-item Основание тёплого пола
								span Утеплитель, крепёж, расходные материалы 300₽ за 1м2
							li.cost__list-item Труба тёплого пола STOUT (Испания)
								span 325₽ за 1м
									sup 2 
									|при шаге укладке 200мм
								span 425₽ за 1м
									sup 2 
									|при шаге укладки 150мм
							li.cost__list-item Коллекторная группа со смесительным узлом и циркуляционным насосом
								span Стоимость коллекторной группы от 45 000₽
					a.pricelist__btn._btn.cost__btn(role="button") Получить прайс-лист
			.cost__item-wrapper._item-comfort
				.cost__item
					.cost__item-top
						.cost__title Комфорт
						.cost__price от 1120 ₽/м
							sup 2
						.cost__subtitle в стоимость включено:
						ul.cost__list
							li.cost__list-item Монтаж тёплого пола
								span от 250₽ за 1м
									sup 2
							li.cost__list-item Основание тёплого пола
								span Утеплитель, крепёж, расходные материалы 300₽ за 1м2
							li.cost__list-item Труба тёплого пола REHAU
								span 565₽ за 1м
									sup 2 
									|при шаге укладке 200мм
								span 785₽ за 1м
									sup 2 
									|при шаге укладки 150мм
							li.cost__list-item Коллекторная группа со смесительным узлом и циркуляционным насосом
								span Стоимость коллекторной группы от 45 000₽
					a.pricelist__btn._btn.cost__btn(role="button") Получить прайс-лист
			.cost__item-wrapper
					.cost__item
						.cost__item-top
							.cost__title Премиум
							.cost__price от 1250 ₽/м
								sup 2
							.cost__subtitle в стоимость включено:
							ul.cost__list
								li.cost__list-item Пакет Комфорт
								li.cost__list-item В пакет премиум включена автоматика тёплого пола с возможностью регулировки температуры в каждой комнате <br>(от 40 000₽)
						a.pricelist__btn._btn.cost__btn(role="button") Получить прайс-лист
	include ../modals/pricelist-modal/pricelist-modal