@import "../modals/tippy/services-tippy/services-tippy";
.services {
	width: 100%;
	background: url("../img/content/services/services-bg.jpg") no-repeat center/cover;
	&__wrapper {
		text-align: center;
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px;
	}
	h2 {
		color: $white;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex: 0 0 25%;
		padding: 0 15px;
		margin-bottom: 50px;
		text-align: center;
		color: $white;
		&._hidden {
			display: none;
			overflow: hidden;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&._item-hide {
			display: none;
		}
	}
	&__item-price {
		width: 250px;
		color: $accent;
		font-weight: 700;
		@include font-size(22, 20);
		@include line-height(24, 22);
		margin-top: 40px;
		position: relative;
		span {
			cursor: pointer;
			position: absolute;
			display: block;
			top: 0;
			right: -12px;
			width: 19px;
			height: 19px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background-color: $accent;
			font-size: 14px;
			color: $white;
		}
	}
	&__item-top {
		h3 {
			width: 250px;
			margin: 0 auto 20px auto;
		}
		p {
			width: 250px;
			position: relative;
			&::after {
				content: "";
				width: 100%;
				position: absolute;
				top: -10px;
				left: 0;
				height: 2px;
				background: linear-gradient(90deg, #ef7d00 0%, #ffbb71 100%);
			}
		}
	}
	&__btn {
		margin-top: 30px;
	}
	&__icon {
		display: inline-block;
	}
}
@media (max-width: $md1+px) {
	.services {
		&__content {
			// justify-content: space-between;
		}
		&__item {
			flex: 1 1 33.333%;
		}
	}
}
@media (max-width: $md3+px) {
	.services {
		&__content {
			margin: 0 -10px;
		}
		&__item {
			padding: 0 10px;
		}
	}
}
