section.services
	.services__wrapper.container
		h2._h2 Наши услуги
		.services__content
			.services__item
				.services__item-top
					h3._h3 Монтаж тёплого <br> пола
					p Монтаж трубы шагом 200мм на имеющийся утеплитель (подготовка основания, монтаж утеплителя, укладка трубы)
				.services__item-price от 250₽ до 450₽/м 
					sup 2
					span ?
			.services__item
				.services__item-top
					h3._h3 Монтаж радиаторного отопления
					p Монтаж и обвязка радиатора, укладка трубы
				.services__item-price от 2 500₽
			.services__item
				.services__item-top
					h3._h3 Монтаж котельного оборудования
					p Один из самых важных этапов в процессе построения отопления
			.services__item
				.services__item-top
					h3._h3 Проектирование отопления
					p Точный подбор оборудования и построение элементов системы в единую сеть
			.services__item
				.services__item-top
					h3._h3 Монтаж конвекторного отопления
					p Конвекторные приборы долговечны в эксплуатации. КПД около 95%.
			.services__item
				.services__item-top
					h3._h3 Автоматизация отопления
					p Поддержание определенной температуры в каждой комнате по отдельности
			.services__item
				.services__item-top
					h3._h3 Рециркуляция <br> горячей воды
					p Не приходится сливать холодную воду, то есть, сливать деньги в канализацию
			.services__item
				.services__item-top
					h3._h3 Монтаж <br> водоотведения
					p Важно учесть не только системы водоснабжения, но и водоотведения бытовых стоков
			.services__item
				.services__item-top
					h3._h3 Обслуживание <br> объектов
					p В стоимость годового обслуживания входят 2 плановых выезда и круглосуточные консультации по телефону
		