extends ../pug/template
block variables
	- var title = 'ИНВЕТА ТЕПЛЫЙ ДОМ'
	- var description = 'description'
block content
	main
		//- include ../blocks/test
		include ../blocks/main/main
		include ../blocks/advantages/advantages
		include ../blocks/services/services
		include ../blocks/cost/cost
		//- include ../blocks/feedback/feedback
		include ../blocks/examples/examples
		include ../blocks/about/about
		include ../blocks/questions/questions
		include ../blocks/contacts/contacts
		block modals
			include ../blocks/modals/privacy-modal
			include ../blocks/modals/callback-modal
			include ../blocks/modals/pricelist-modal
			include ../blocks/modals/feedback-modal
		block tippy
			include ../blocks/tippy/feedback-tippy/feedback-tippy
			include ../blocks/tippy/feedback-tippy/feedback-tippy-two
			include ../blocks/tippy/services-tippy/services-tippy
	script(src="js/script.js")



