#hint1(style="display: none")
	.feedback__tooltip
		.feedback__tooltip-header
			.feedback__tooltip-title Монтаж теплых полов
			.feedback__tooltip-cost 70 000₽
		.feedback__tooltip-text
			p Смонтировали водяные теплые полы на первом этаже
			p Смонтировали водяные теплые полы на втором этаже
			p Смонтировали и запустили котельную на базе электрического котла Protherm
