.feedback__tooltip-two
	.feedback__tooltip-two-header
		.feedback__tooltip-two-title Монтаж системы отопления
		.feedback__tooltip-two-cost 120 000₽
	.feedback__tooltip-two-text
		p Смонтировали систему канализации
		p Выполнили обвязку скважины
		p Установили водонагреватель
		p Смонтировали систему водоснабжения
		p Смонтировали водяные теплые полы
