form.header__modal(action="")
	.header__modal-content
		.header__modal-title Оставьте свой номер телефона и мы перезвоним вам в течение 7 минут
		.header__modal-close
			+icon('cross')
		input(type="tel" placeholder="Ваш телефон")
		a.header__modal-btn._btn(href="##") ОТПРАВИТЬ
		.header__modal-personal Нажимая кнопку “Отправить”, вы принимаете 
			span 
				a(href="##") условия обработки персональных данных