section.advantages(data-aos="fade")
	.container
		.advantages__wrapper
			.advantages__item
				img(src="img/content/advantages/warranty.svg", alt="")
				h3._h3 Гарантия на работу <br> до 5 лет
				p При условии вовремя проведённого сервисного обслуживания гарантия продлевается
			.advantages__item
				img(src="img/content/advantages/coin.svg", alt="")
				h3._h3 Сохраните до 20% <br> на материалах
				p Гарантируем цены ниже чем на Яндекс.Маркете – работаем с оптовыми базами без посредников
			.advantages__item
				img(src="img/content/advantages/wrenches.svg", alt="")
				h3._h3 Оперативный монтаж на объекте
				p Вернем половину стоимости, если не закончим работу вовремя
			.advantages__item
				img(src="img/content/advantages/question.svg", alt="")
				h3._h3 Обслуживание <br> и поддержка 24/7
				p Если вы обнаружите неисправность в работе системы, мы приедем и починим все за свой счет