section.questions._ibg(style="background-image: url('img/content/questions/questions-bg.jpg')")
	.questions__wrapper.container
		h2._h2 Остались вопросы?
		.questions__subtitle Мы перезвоним в течение 5 минут
		form(action="")
			input.questions__input(type="tel" placeholder="Ваш телефон")
			.questions__btn._btn ОТПРАВИТЬ
		p Нажимая на кнопку "Отправить", вы соглашаетесь на 
			span 
				a.privacy__btn(roll="button") обработку персональных данных