section.questions._ibg(style="background-image: url('img/content/questions/questions-bg.jpg')")
	.questions__wrapper.container
		h2._h2(data-aos='fade-up') Остались вопросы?
		.questions__subtitle(data-aos='fade-up', data-aos-delay='50') Мы перезвоним в течение 5 минут
		form
			input.modal__input(type="tel" placeholder="Ваш телефон" data-aos='fade-up', data-aos-delay='50')
			.questions__btn-wrapper._btn-wrapper(data-aos='fade-up', data-aos-delay='100')
				button.modal__submit._btn(type="submit") ОТПРАВИТЬ
		p(data-aos='fade-up', data-aos-delay='150') Нажимая на кнопку "Отправить", вы соглашаетесь на 
			span 
				a.privacy__btn.modal__button-js(data-modal="privacy-modal") обработку персональных данных