.header {
	padding-top: 20px;
	position: absolute;
	width: 100%;
	height: 105px;
	top: 0;
	left: 0;
	z-index: 9999;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		display: flex;
		align-items: center;
	}
	&__menu-list {
		display: flex;
		align-items: center;
		// transform: translate(100%);
		&._active {
			// transform: translateX(0);
		}
	}
	&__menu-link {
		margin-right: 24px;
		&:last-child {
			margin-right: 0;
		}
		a {
			color: $white;
		}
	}
	&__left {
		display: flex;
	}
	&__logo {
		margin-right: 20px;
		display: block;
		position: relative;
		width: 120px;
		height: 70px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&__left-text > p {
		color: $white;
		max-width: 250px;
		margin-bottom: 5px;
		font-size: 14px;
	}
	&__mail,
	&__right-callback {
		color: $accent;
		position: relative;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $hover;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			background-color: $hover;
			height: 2px;
			width: 0%;
			left: 50%;
			transition: width 0.3s ease-in-out;
			transform: translateX(-50%);
		}
		&:hover::after {
			width: 100%;
		}
	}
	&__right {
		display: flex;
	}
	&__right-whatsapp,
	&__right-phone {
		p {
			color: $accent;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: -2px;
				left: 0;
				background-color: $hover;
				height: 2px;
				width: 0%;
				left: 50%;
				transition: width 0.3s ease-in-out;
				transform: translateX(-50%);
			}
			&:hover::after {
				width: 100%;
			}
		}
	}
	&__right-whatsapp {
		display: flex;
		// height: 26px;
		align-items: center;
		transition: all 0.3s ease 0s;
		margin-right: 30px;
		&:hover {
			color: $hover;
		}
	}
	&__right-text {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__right-phone {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		p {
			color: $white;
		}
	}
	&__burger {
		width: 30px;
		height: 30px;
		position: relative;
		transition: all 0.3s ease 0s;
		display: none;
		cursor: pointer;
		// overflow: hidden;
		span {
			width: 30px;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $black;
			transition: all 0.3s ease 0s;
			&:nth-of-type(2) {
				top: calc(50% - 8px);
			}
			&:nth-of-type(3) {
				top: calc(50% + 8px);
			}
		}
		&._active {
			span {
				&:first-of-type {
					transform: translateX(500%);
				}
				&:nth-of-type(2) {
					top: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
				}
				&:nth-of-type(3) {
					top: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}
}
@media (max-width: $md1+px) {
	.header {
		&__left {
			flex-direction: column;
		}
	}
}
// @media (max-width: $md3 + px) {
// 	.header {
// 		&__wrapper {
// 			flex-direction: column;
// 		}
// 		&__left,
// 		&__right {
// 			justify-content: space-between;
// 		}
// 		&__right {
// 			margin-top: 30px;
// 		}
// 		&__left-text {
// 			text-align: right;
// 		}
// 	}
// }
// @media (max-width: $md4 + px) {
// 	.header {
// 		font-size: 14px;
// 		&__logo {
// 			width: 100px;
// 			height: 60px;
// 		}
// 		&__left-text {
// 			p {
// 				font-size: 12px;
// 			}
// 		}
// 	}
// }
