.header {
	padding: 20px 0;
	position: sticky;
	top: 0;
	width: 100%;
	transition: 0.3s ease;
	z-index: 9995;
	&._hide {
		transform: translateY(-105%) !important;
	}
	&._bg,
	&._active {
		background: $white;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		.header__left-text,
		.header__right-text {
			p {
				color: $black;
			}
		}
		.header__menu-item {
			color: $black;
		}
		.header__burger {
			span {
				background-color: $black;
			}
		}
		.header__logo-desc {
			opacity: 0;
			visibility: hidden;
		}
		.header__logo-mob {
			opacity: 1;
			visibility: visible;
		}
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	&__left {
		display: flex;
		align-items: center;
	}
	&__menu {
		display: flex;
		align-items: center;
	}
	&__menu-list {
		display: flex;
		align-items: center;
	}
	&__menu-link {
		margin-right: 24px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__menu-item {
		color: $white;
		transition: 0.3s ease;
	}
	&__logo {
		margin-right: 20px;
		display: block;
		position: relative;
		width: 120px;
		height: 70px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&__left-text > p {
		color: $white;
		max-width: 250px;
		margin-bottom: 5px;
		font-size: 14px;
	}
	&__mail,
	&__right-callback,
	&__menu-link {
		color: $accent;
		position: relative;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $hover;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			background-color: $hover;
			height: 2px;
			width: 0%;
			left: 50%;
			transition: width 0.3s ease-in-out;
			transform: translateX(-50%);
		}
		&:hover::after {
			width: 100%;
		}
	}
	&__right {
		display: inline-flex;
		align-items: center;
	}
	&__right-whatsapp,
	&__right-phone {
		p {
			color: $accent;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: -2px;
				left: 0;
				background-color: $hover;
				height: 2px;
				width: 0%;
				left: 50%;
				transition: width 0.3s ease-in-out;
				transform: translateX(-50%);
			}
			&:hover::after {
				width: 100%;
			}
		}
	}
	&__right-whatsapp {
		display: flex;
		// height: 26px;
		align-items: center;
		transition: all 0.3s ease 0s;
		margin-right: 30px;
		&:hover {
			color: $hover;
		}
	}
	&__right-text {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__right-phone {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		p {
			color: $white;
		}
	}
	&__burger {
		width: 30px;
		height: 30px;
		position: relative;
		transition: all 0.3s ease 0s;
		display: none;
		cursor: pointer;
		overflow: hidden;
		margin-left: 45px;
		span {
			width: 30px;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $white;
			transition: all 0.3s ease 0s;
			&:nth-of-type(2) {
				top: calc(50% - 8px);
			}
			&:nth-of-type(3) {
				top: calc(50% + 8px);
			}
		}
		&._active {
			span {
				background-color: $black;
				&:first-of-type {
					transform: translateX(500%);
				}
				&:nth-of-type(2) {
					top: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
				}
				&:nth-of-type(3) {
					top: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}
	&__mob-menu {
		transform: translateY(-130%);
		display: none;
		position: fixed;
		width: 100%;
		max-height: 430px;
		height: 100%;
		padding: 95px 30px 30px;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.3s ease 0s;
		overflow: auto;
		opacity: 0;
		background-color: $white;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		&._active {
			transform: translateY(0);
			opacity: 1;
		}
	}
	&__logo-desc {
		opacity: 1;
		visibility: visible;
		transition: all 0.3s ease 0s;
	}
	&__logo-mob {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}
}
@media (max-width: $md1+px) {
	.header {
		background: $white;
		box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
		padding: 10px 0;
		&__burger {
			display: block;
			span {
				background-color: $black;
			}
		}
		&__menu {
			justify-content: center;
		}
		&__mob-menu {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&__menu-list {
			flex-direction: column;
		}
		&__menu-link {
			@include font-size(32, 22);
			@include line-height(36, 22);
			margin-right: 0px;
			margin-top: 32px;
			font-weight: 500;
			&:first-child {
				margin-top: 0;
			}
			a {
				color: $black;
			}
		}
		&__menu-item {
			color: $black;
		}
		&__logo-desc {
			opacity: 0;
			visibility: hidden;
		}
		&__logo-mob {
			opacity: 1;
			visibility: visible;
		}
		&__left-text,
		&__right-text {
			p {
				color: $black;
			}
		}
	}
}
@media (max-width: $md2+px) {
	.header {
		&__right-whatsapp {
			margin-right: 0;
		}
		&__burger {
			margin-left: 20px;
		}
		&__right-text {
			align-items: center;
			margin-top: 32px;
		}
		&__right-phone {
			p {
				@include font-size(24, 18);
				color: $black;
			}
		}
		&__right-callback {
			margin-top: 10px;
			@include font-size(24, 18);
		}
		&__mob-menu {
			max-height: 500px;
		}
	}
}
@media (max-width: $md3+px) {
	.header {
		&__left-text {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 20px auto 18px;
			max-width: 345px;
			width: 100%;
			background-color: #f6f6f6;
			border-radius: 5px;
			padding: 20px 0;
			p {
				text-align: center;
				color: $black;
				@include font-size(18, 16);
			}
		}
		&__mail {
			@include font-size(24, 18);
		}
		&__mob-menu {
			max-height: 100%;
		}
	}
}
@media (max-width: $md4+px) {
	.header {
		&__logo {
			width: 90px;
			height: 40px;
		}
		&__mob-menu {
			// max-height: 550px;
			padding-top: 70px;
		}
	}
}
